[user]
    name = Audrea Cook
    email = audrea@codewitch.dev
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJGiIGzz6c/mvGiqsg08e8v3xtegUvStn5FRVfLJRF+q

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    allowedSignersFile = "{{ .chezmoi.homeDir }}/.config/git/allowed_signers"

[commit]
    gpgsign = true

[core]
    pager = "bat"
    editor = "hx"
    excludesfile = "{{ .chezmoi.homeDir }}/.config/git/ignore"

[init]
    defaultBranch = main
